.DS_Store
node_modules
*-lock.*
*.lock

/packages/worktop/*/
!/packages/worktop/src/
!/packages/worktop/types/

# build outputs
/packages/*/bin.js
/packages/*/index.js
/packages/*/index.d.ts
/packages/*/index.mjs

/examples/build
